.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 208px;
    width: 280px;
    font-family: 'Jet Brains Mono';
    position: relative;
    cursor: pointer;
}

.price {
    display: flex;

    span {
        align-content: center;
        margin-right: 8px;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}